html,body{
	margin:0;
	font-family: Microsoft JhengHei,serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
ul,li{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color: #888;
}

.wrapper{
	transition: 0.5s;
	position: relative;}
.wrapper.white{
	background-color: #f2f2f2;}
.wrapper.dark{
	background-color: #1a1a1a;
}
header{
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;}
header > div{
	padding: 20px;}
header .logoFlex{
	display: flex;
	align-items: flex-end;
	margin-bottom: 14px;}
header .logoFlex > div:first-child{}
header .logoFlex > div:last-child{
	transition: 0.3s;
	margin-left: 13px;
	margin-bottom: 3px;}
header.payment .logoFlex > div:last-child{
	/*pointer-events: none;
	opacity: 0;*/
}
header .logoFlex svg{
    width: 153px;
    height: 45px;
    fill: #000;
    transition: 0.5s;
}
header .logoFlex span{
	margin-right: 7px;
	color: #888;}
.dark header .logoFlex span{
	color: #eee;
}
.dark header a{
	color: #eee;
}
.dark header .logoFlex svg{
	fill: #fff;
}
header .MenuBlock{
	transition: 0.3s;
	display: table;}
header .MenuBlock ul{}
header .MenuBlock ul li{}
header .MenuBlock ul li a{
	display: block;
	padding: 5px 0;}
header.payment .MenuBlock{
	pointer-events: none;
	opacity: 0;
}
header nav{
    position: absolute;
    width: 35px;
    height: 27px;
    top: 30px;
    right: 20px;
    cursor: pointer;
    z-index: 29;
    display: none;
}
header nav b{
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 6px;
    transition: 0.3s;
}
.dark header nav b{
    background-color: #fff;
}
.white header nav b{
    background-color: #000;
}
header nav b:nth-child(1){top: 0;}
header nav b:nth-child(2){top: calc(50% - 2px);}
header nav b:nth-child(3){bottom:0;}
header nav.active b:nth-child(1){transform: translateY(13px)rotate(45deg);}
header nav.active b:nth-child(2){width: 0;}
header nav.active b:nth-child(3){transform: translateY(-10px)rotate(-45deg);}
header .bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media(max-width:992px){
	header{
		position: sticky;
		position: -webkit-sticky;
	}
	header .logoFlex{
		margin-bottom: 0;
	}
	.dark header{
		background-color: #000;
	}
	.white header{
		background-color: #fff;
	}
	header .MenuBlock{
		display: block;
	    position: fixed;
	    right: 0;
	    text-align: right;
	    top: 100px;
	    padding: 0 20px 20px;
	    transform: translateX(100%);
	}
	.dark header .MenuBlock{
	    background-color: #000;
	}
	.white header .MenuBlock{
	    background-color: #fff;
	}
	header .MenuBlock.active{
	    transform: translateX(0);
	}
	header nav{
		display: block;
	}
	header.payment .logoFlex > div:last-child,
	header.payment .MenuBlock{
		pointer-events: all;
	    opacity: 1;
	}
} 

.main{
	min-height: 100vh;}
:root{
	--ratio:1vh;
}

@media(min-height: 900px){
	:root{
		--ratio:9px;
	}	
}

@media(max-width: 992px){
	:root{
		--ratio:8px;
	}	
}
@media(max-width: 680px){
	:root{
		--ratio:6px;
	}	
}
@media(max-width: 480px){
	:root{
		--ratio:5px;
	}	
}

/*homePage*/

.homePage{
	height: 100vh;}
.homePage .grid{
	height: 100%;
	display: flex;
}
.homePage .grid > div{
	height: 100%;
	transition: 1s;
}
.homePage .grid .mainCanvas{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.homePage .grid .sideInfo{
	width: 0%;
	overflow: hidden;
}
.homePage .grid .payment{
	width: 0%;
	overflow: hidden;
	position: relative;
}
.homePage .grid.sideOpen .mainCanvas{
	width: 60%;
}
.homePage .grid.sideOpen .sideInfo{
	width: 40%;
}
.homePage .grid.paymentOpen .sideInfo{
	width: 40%;
}
.homePage .grid.paymentOpen .mainCanvas{
	width: 0%;
}
.homePage .grid.paymentOpen .payment{
	width: 60%;
}
.homePage .grid .payment .loadingCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffa1;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.homePage .grid .payment .loadingCover.active{
    opacity: 1;
    pointer-events: all;
}
.homePage .grid .mainCanvas .fullFrame{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;}
.homePage .grid .mainCanvas .fullFrame .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.homePage .grid .mainCanvas .fullFrame .canvas{
	position: absolute;
	height: 65vh;
	width: 105vh;
	height: calc(65*var(--ratio));
	width: calc(105*var(--ratio));
    margin-top: 5vh;
    z-index: 1;
    pointer-events: none;
}
.homePage .grid .mainCanvas .descriptionBar{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	text-align: right;}
.homePage .grid .mainCanvas .descriptionBar p{}

.homePage .sideInfo{
	background-color: #ff7bac;
	color: #fff;
}
.homePage .sideInfo > article{
	width: 400px;
	margin: auto;
	height: 100%;
	position: relative;;;;;}
.homePage .sideInfo > article > div{
	padding: 20px 0;
	text-align: center;
	height: calc(100% - 40px);
	position: relative;;;;;}
.homePage .sideInfo .portrait{
	height: 150px;
	width: 150px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #f2f2f2;;;;;;;;}
.homePage .sideInfo .portrait > img{
    max-width: 80%;
    max-height: 80%;
}
.homePage .sideInfo .content{
	margin: 40px 0;;}
.homePage .sideInfo .content h1{;
	margin-bottom: 20px;;
	font-size: 40px;;
	font-weight: 100;;}
.homePage .sideInfo .content p{
	line-height: 1.8;
	letter-spacing: 1px;;;;}
.homePage .sideInfo .promo{}
.homePage .sideInfo .promo h3{
    font-weight: 100;
    margin-bottom: 20px;
}
.homePage .sideInfo .promo p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}
.homePage .sideInfo .promo p a{
	color: #fff;
}
.homePage .sideInfo .bottom{
	position: absolute;
	width: 100%;
	bottom: 20px;;;;}
.homePage .sideInfo .bottom .btnBlock{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;;;;}
.homePage .sideInfo .bottom p{}
.btn{
	padding: 7px;
	border-radius: 5px;
	background-color: #fff;
	color: #888;
	transition: 0.3s;
	border-bottom: 5px solid #d4d4d4;
	cursor: pointer;;;;;;;}
.btn:hover{
	color: #000;
}
.btn.large{
	font-size: 25px;
	font-weight: 100;
	padding: 8px 30px;;}

input:focus{
	outline:none;
}
.homePage .payment article{
	width: 600px;
	margin: auto;
	min-height: 100%;
	display: flex;
	align-items: center;;;;;}
.homePage .payment form{;
	padding: 20px 0;;
	width: 100%;;;}
.homePage .payment form .totalBlock{
	display: flex;
	justify-content: space-between;
	margin-top: 95px;;;;;}
.homePage .payment form .totalBlock > div{
	display: flex;
	align-items: center;;;}
.homePage .payment form .totalBlock > div h2{
	font-size: 25px;
	font-weight: 100;
	margin-right: 10px;;;}
.homePage .payment form .totalBlock > div span{
	font-size: 25px;
	color: #ff7bac;;;}
.homePage .payment form .totalBlock .btn{}
.inputGroup{
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 30px;;;}
.inputGroup label{
	transition: 0.3s;
	font-size: 25px;
	margin-bottom: 5px;;;;}
.inputGroup input{
	border: 0;
	background: none;
	border-bottom: 2px solid #ff7bac;
	font-size: 25px;
	padding: 5px 5px 8px;;;;;;}
.inputGroup input:focus + label{
	color: #ff7bac;
}
.canvas .area{
	position: absolute;}
.canvas .object{
	position: absolute;
	pointer-events: all;
	bottom: 0;}
.canvas .object:not(.ground){
	transition: 0.5s;
}
.canvas .object:not(.ground):hover{
	transform: translateY(-10px);
}
.canvas .object img{
	max-width: 100%;
	max-height: 100%;}
.canvas .treeGroup{
	position: absolute;
	width: 8vh;
	height: 7vh;
	width: calc(8*var(--ratio));
	height: calc(7*var(--ratio));
}
.canvas .treeGroup img{}
.canvas .treeGroup .t1{
	top: 30%;
	left: 52%;
	height: 57%;}
.canvas .treeGroup .t2{
	top: 15%;
	left: 27%;
	height: 57%;}
.canvas .treeGroup .t3{
	top: 0%;
	left: 0%;
	height: 57%;}
.canvas .area.a1{
    height: 42vh;
    width: 27vh;
	height: calc(42*var(--ratio));
    width: calc(27*var(--ratio));
}
.canvas .a1 .a1_1{}
.canvas .a1 .a1_2{
	right: 8%;
	height: 84%;
	bottom: 20%;}
.canvas .a1 .a1_3{
	height: 57%;
	bottom: 9%;
	left: 25%;}
.canvas .a1 .treeGroup{
	bottom: 4%;
	left: 9%;}
.canvas .laptop{
	bottom: 20%;
	left: 10%;
    height: 32.6vh;
	height: calc(32.6*var(--ratio));
}
.canvas .p{
	width: 16vh;
	height: 12.4vh;
	width: calc(16*var(--ratio));
	height: calc(12.4*var(--ratio));
	bottom: 12%;}
.canvas .p .p_1{}
.canvas .p .p_2{
	top: 0;
	left: 46%;
	height: 29%;}
.canvas .p .p_3{
	top: 24%;
	left: 77%;
	height: 29%;}
.canvas .trem{
	left: 35%;
	bottom: 11%;
    height: 14vh;
	height: calc(14*var(--ratio));
}
.canvas .a2{
	height: 14vh;
	width: 20vh;
	height: calc(14*var(--ratio));
	width: calc(20*var(--ratio));
	left: 21%;
	bottom: 4%;}
.canvas .a2 .a2_1{}
.canvas .a2 .a2_2{
	bottom: 48%;
	right: 4%;}
.canvas .a2 .a2_3{
	bottom: 36%;
	right: 20%;}
.canvas .a2 .a2_4{
	bottom: 23%;
	right: 35%;}
.canvas .a2 .a2_5{
	bottom: 11%;
	right: 50%;}
.canvas .a3{
	height: 9vh;
	width: 11.7vh;
	height: calc(9*var(--ratio));
	width: calc(11.7*var(--ratio));
    bottom: 61%;
    left: 29%;}
.canvas .a3_1{}
.canvas .a3_2{
	right: 5%;
	bottom: 12%;}
.canvas .pc{
    bottom: 44%;
    right: 32%;
    height: 48vh;
	height: calc(48*var(--ratio));
}
.canvas .a4{
	height: 20vh;
	width: 21vh;
	height: calc(20*var(--ratio));
	width: calc(21*var(--ratio));
	bottom: 21%;
	right: 42%;}
.canvas .a4 .a4_1{}
.canvas .a4 .a4_2{
	left: 56%;
	bottom: 32%;}
.canvas .a4 .a4_3{
	bottom: 16%;
	left: 23%;
	height: 95%;}
.canvas .a5{
    width: 19vh;
    height: 29vh;
    width: calc(19*var(--ratio));
	height: calc(29*var(--ratio));
    right: 19%;
    bottom: 18%;}
.canvas .a5 .a5_1{}
.canvas .a5 .a5_2{
    right: 7%;
    bottom: 5%;
    height: 94%;}
.canvas .treeGroup2{
	height: 9vh;
	width: 10vh;
	height: calc(9*var(--ratio));
	width: calc(10*var(--ratio));
	right: 0%;
	position: absolute;}
.canvas .treeGroup2 .t3{
	height: 55%;
	bottom: 27%;
	left: 47%;}
.canvas .treeGroup2 .t2{
	height: 55%;
	bottom: 14%;
	left: 23%;}
.canvas .treeGroup2 .t1{
	height: 55%;
	bottom: 0%;
	left: 0%;}
.canvas .a6 {
	height: 42.5vh;
	width: 20vh;
	height: calc(45.5*var(--ratio));
	width: calc(20*var(--ratio));
	right: 0%;
}
.canvas .a6 .a6_1{}
.canvas .a6 .a6_2{
    top: -4%;
    right: -8%;
    height: 32%;}
.canvas .a7{
	width: 33vh;
	height: 29vh;
	width: calc(33*var(--ratio));
	height: calc(29*var(--ratio));
	top: 1%;
	right: 14%;}
.canvas .a7 .a7_1{}
.canvas .a7 .a7_2{
	height: 100%;
	bottom: 32%;
	left: 14%;}
.canvas .a7 .a7_3{
    height: 71%;
	left: 45%;
	bottom: 15%;}
.canvas .a7 .a7_4{
	bottom: 11%;
	right: 7%;}
.canvas .a7 .a7_5{
	bottom: 6%;
	right: 0%;}
@media(max-width: 992px){
	.homePage .grid .sideInfo{
	    height: calc(100vh - 89px);
	}
	.homePage .canvas{
		transition: 0.3s;
	}
	.homePage.change .canvas{
		opacity: 0;
	}
	.homePage .grid.paymentOpen .sideInfo{
	    width: 0%;
	}
	.homePage .sideInfo > article{
		transition: 0.3s;
	}
	.homePage.change .sideInfo > article{
		opacity: 0;
	}
	.homePage .grid.sideOpen .sideInfo{
	    width: 100%;
	}
	.homePage .grid .payment{
	    height: calc(100vh - 98px);
	}
	.homePage .grid.paymentOpen .payment{
	    width: 100%;
	}
	.homePage .payment article{
		transition: 0.3s;
	}
	.homePage.change .payment article{
		opacity: 0;
	}
	.homePage .grid.sideOpen .mainCanvas{
	    width: 0%;
	}
	.main{
		min-height: calc(100vh - 98px);
	}
	.homePage .grid .mainCanvas .fullFrame .canvas{
		height: 125vh;
        height: calc(140*var(--ratio));
		width: 100%;
		top: 30px;
	}
	.canvas .a6{
	    right: 3%;
	    top: 17%;
	}
	.canvas .a3{
	    bottom: 54%;
	    left: 10%;
	}
	.canvas .pc{
	    bottom: 50%;
	}
	.canvas .laptop{
		bottom: 33%;
	}
	.canvas .p{
	    bottom: 27%;
	}
	.canvas .a5{
	    right: 6%;
	    bottom: 27%;
	}
}
@media(max-width: 768px){
	.homePage .payment article{
		width: 95%;
	}
}
@media(max-width: 480px){
	.homePage .grid .mainCanvas .fullFrame .canvas{
	    height: calc(145*var(--ratio));
	}
	.homePage{
		height:auto;
	}
	.homePage .grid .mainCanvas .fullFrame .canvas{
		position: relative;
	}
	.homePage .sideInfo > article{
		width: 95%;
	}
	.homePage .grid .sideInfo{
	    height: calc(145*var(--ratio) + 30px);
	}
	.homePage .sideInfo .bottom p{
	    font-size: 13px;
	}
	.homePage .payment form .totalBlock .btn,
	.homePage .payment form .totalBlock > div h2{
	    font-size: 15px;
	}
	.homePage .payment form .totalBlock > div span{
	    font-size: 17px;
	}
}
.bgCover{
	background-position: center;
	background-size: cover;}
.subPage{
	min-height: 100vh;}
.subPage .grid{
	display: grid;
	grid: auto / 0% 100% 0%;}
.subPage .container{
	max-width: 1170px;
	width: 95%;
	margin: auto;}
@media(max-width: 1700px){
.subPage .grid{
	grid: auto / 300px calc(100% - 600px) 300px;}
}
@media(max-width: 1200px){
.subPage .grid{
	grid: auto / 300px calc(100% - 300px) 0%;}
}
.aboutPage .title{
	display: flex;
	align-items: center;
	margin: 45px 0;}
.aboutPage .title .portrait{
	height: 180px;
	width: 180px;
	background-color: #888;
	border-radius: 50%;
	margin-right: 20px;}
.aboutPage .title h1{
	font-weight: 100;
	font-size: 40px;}
.aboutPage .title h2{
	font-weight: 100;
	font-size: 25px;
	margin-left: 5px;}
.aboutPage .content{
	line-height: 1.8;
	color: #555;
	margin-bottom: 30px;;}
.aboutPage .content p{}
.aboutPage .tagBlock{
	margin: 6px 0px;}
.tag{
    cursor: default;
    padding: 3px 9px 4px 22px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    margin-bottom: 6px;}
.tag:before{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50%;
    left: 7px;
    top: 11px;
}
.tag.red-0{
	background-color: #ff005f;}
.tag.red-1{
	background-color: #ff1c70;}
.tag.red-2{
	background-color: #ff5393;}
.tag.red-3{
	background-color: #ff679f;}
.tag.red-4{
	background-color: #ff7bac;}
.tag.red-5{
	background-color: #ffa0c3;}
.tag.green-0{
	background-color: #05c500;}
.tag.green-1{
	background-color: #23d01e;}
.tag.green-2{
	background-color: #4ad047;}
.tag.green-3{
	background-color: #6ed66c;}
.tag.green-4{
	background-color: #91de8f;}
.tag.green-5{
	background-color: #b1deb0;}
.tag.blue-0{
	background-color: #01c7e4;}
.tag.blue-1{
	background-color: #23cfe8;}
.tag.blue-2{
	background-color: #4bd4e8;}
.tag.blue-3{
	background-color: #68daea;}
.tag.blue-4{
	background-color: #81d6e2;}
.tag.blue-5{
	background-color: #99dbe4;}
.tag.gray-0{
	background-color: #000;}
.tag.gray-1{
	background-color: #3c3c3c;}
.tag.gray-2{
	background-color: #636161;}
.tag.gray-3{
	background-color: #797878;}
.tag.gray-4{
	background-color: #a2a0a0;}
.tag.gray-5{
	background-color: #bdb9b9;}

.websitePage .catGrid{
	display: grid;
	grid: auto / 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	padding: 15px 0;;;;;;;}
.appPage .catGrid{
	display: grid;
	grid: auto / 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	padding: 15px 0;;;;;;;}
@media(max-width: 1400px){
	.websitePage .catGrid{
		grid: auto / 1fr 1fr 1fr 1fr;
	}
	.appPage .catGrid{
		grid: auto / 1fr 1fr 1fr;
	}
}
@media(max-width: 1200px){
	.websitePage .catGrid{
		grid: auto / 1fr 1fr 1fr 1fr 1fr;
	}
}
@media(max-width: 1100px){
	.websitePage .catGrid{
		grid: auto / 1fr 1fr 1fr 1fr;
	}
}
.catGrid article{
	cursor: pointer;
	background-color: #fff;;;
	background-size: cover;
	transition: 0.3s;
	background-position: center;}
.appPage .catGrid article{
	height: 500px;
}
.websitePage .catGrid article{
	height: 200px;
}
.websitePage .catGrid article.large{
	grid-area: auto / span 2;;}
.catGrid article:hover{
	opacity: 0.7;
}
@media(max-width: 768px){
	.websitePage .catGrid{
		grid: auto / 1fr 1fr;
	}
	.websitePage .catGrid article.large{
		grid-area: auto;
	}
	.appPage .catGrid{
		grid: auto / 1fr 1fr;
	}
}
@media(max-width: 500px){
	.appPage .catGrid article{
		height: 300px;
	}
}
.subPage .float{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	height: 100%;;;;;;;}
.subPage .float.active{
	pointer-events: all;
}
.subPage .float .bg{
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	transition: 0.5s;
	background-color: #00000082;;;;;}
.subPage .float.active .bg{
	opacity: 1;
}
.subPage .float .side{
	opacity: 0;
	transform: translateX(40vw);
	transition: 0.5s;
	position: absolute;
	right: 0;
	top: 0;
	width: 40vw;
	height: 100%;
	background-color: #ff7bac;;;;;;;}
.subPage .float.active .side{
	opacity: 1;
	transform: translateX(0);
}
.subPage .float .side > article{
	max-width: 500px;
    width: 90%;
	margin: auto;;;}
.subPage .float .side > article > div{
	padding: 20px 0;
	color: #fff;;;}
.subPage .float .side h2{
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 20px;;;}
.subPage .float .side p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	margin-bottom: 10px;;}
.subPage .float .side p a{
	color: #fff;;}
.subPage .float .side p i{
	margin-right: 5px;;}
.subPage .float .side .content{
	margin-top: 70px;;}
.subPage .float .side .content p{
    white-space: normal;
	margin-bottom: 0px;;}
@media(max-width:992px){
	.subPage .grid{
		grid: auto / 0% 100% 0%;
	}
	.subPage .float .side{
	    width: 60vw;
	    bottom: 0;
	    top: auto;
	    height: calc(100% - 92px);
	}
	.subPage .float .side h2{
		font-size: 25px;
	}
}

.messagePage{
	height: 100vh;
	background-color: #ff7bac;
}
.messagePage > div{
	height: 100%;
	width: 95%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.messagePage .content{
    margin-bottom: 40px;
    color: #fff;
}
.messagePage .content h1{}
.messagePage .content p{}
.messagePage .btnBlock{}