<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 152.6 44" xml:space="preserve">
    <g>
      <path d="M18.6,0l-7.3,43.4H0L7.3,0H18.6z"/>
      <path d="M41.7,19.2h-9.6l0.3-1.9c0.3-1.6,0.4-2.7,0.2-3.1c-0.1-0.4-0.5-0.7-1.3-0.7c-0.6,0-1.1,0.2-1.5,0.6c-0.4,0.4-0.6,1-0.8,1.8
        c-0.2,1.1-0.2,1.9-0.2,2.4c0.1,0.5,0.4,1.1,1.1,1.7c0.7,0.6,2.1,1.5,4.2,2.7c2.9,1.5,4.7,3,5.5,4.3c0.8,1.4,0.9,3.3,0.5,5.9
        c-0.5,2.9-1.2,5.1-2.2,6.5c-1,1.5-2.4,2.6-4.3,3.4c-1.9,0.8-4.1,1.2-6.6,1.2c-2.8,0-5-0.4-6.8-1.3c-1.8-0.9-3-2-3.4-3.5
        c-0.5-1.5-0.5-3.7,0-6.6l0.3-1.7h9.6l-0.4,2.3C26,35,25.9,36.3,26,36.9c0.1,0.6,0.6,0.9,1.3,0.9c0.8,0,1.3-0.2,1.7-0.6
        c0.4-0.4,0.7-1.2,0.9-2.4c0.3-1.7,0.3-2.8-0.1-3.2c-0.3-0.4-2.2-1.7-5.7-3.8c-2.9-1.8-4.5-3.4-5-4.9c-0.5-1.5-0.5-3.2-0.2-5.2
        c0.5-2.8,1.2-4.9,2.2-6.3c1-1.3,2.4-2.4,4.3-3.1c1.9-0.7,4.1-1.1,6.4-1.1c2.4,0,4.3,0.3,5.9,0.9c1.6,0.6,2.7,1.4,3.4,2.4
        c0.7,1,1.1,1.9,1.1,2.7c0,0.8-0.1,2.2-0.4,3.9L41.7,19.2z"/>
      <path d="M54.7,21.6H44.5l0.4-2.4c0.5-2.7,1.1-4.9,2-6.4c0.9-1.5,2.4-2.8,4.5-4c2.1-1.1,4.7-1.7,7.7-1.7c3.7,0,6.3,0.6,7.9,1.9
        c1.6,1.3,2.5,2.9,2.5,4.8c0.1,1.9-0.4,5.8-1.4,11.6l-3,17.8H54.7l0.5-3.2c-0.9,1.3-1.9,2.2-3,2.9c-1.2,0.6-2.5,1-3.9,1
        c-1.9,0-3.5-0.5-4.9-1.6c-1.4-1.1-1.8-3.4-1.2-7l0.5-2.9c0.4-2.7,1.2-4.5,2.2-5.4c1-1,3.3-2.1,6.8-3.4c3.8-1.4,5.8-2.3,6.2-2.8
        c0.3-0.5,0.6-1.5,0.9-2.9c0.3-1.9,0.4-3.1,0.2-3.6c-0.2-0.6-0.6-0.8-1.2-0.8c-0.7,0-1.2,0.2-1.5,0.7c-0.3,0.5-0.6,1.7-0.9,3.7
        L54.7,21.6z M57.3,26.5c-1.9,1.3-3.1,2.3-3.6,3.2c-0.4,0.9-0.8,2.1-1,3.7c-0.3,1.8-0.4,3-0.2,3.6c0.2,0.5,0.6,0.8,1.3,0.8
        c0.7,0,1.2-0.2,1.4-0.6c0.3-0.4,0.6-1.5,0.9-3.3L57.3,26.5z"/>
      <path d="M82.3,21.6H72.1l0.4-2.4c0.5-2.7,1.1-4.9,2-6.4c0.9-1.5,2.4-2.8,4.5-4c2.1-1.1,4.7-1.7,7.7-1.7c3.7,0,6.3,0.6,7.9,1.9
        c1.6,1.3,2.5,2.9,2.5,4.8c0.1,1.9-0.4,5.8-1.4,11.6l-3,17.8H82.3l0.5-3.2c-0.9,1.3-1.9,2.2-3,2.9c-1.2,0.6-2.5,1-3.9,1
        c-1.9,0-3.5-0.5-4.9-1.6c-1.4-1.1-1.8-3.4-1.2-7l0.5-2.9c0.4-2.7,1.2-4.5,2.2-5.4c1-1,3.3-2.1,6.8-3.4c3.8-1.4,5.8-2.3,6.2-2.8
        c0.3-0.5,0.6-1.5,0.9-2.9c0.3-1.9,0.4-3.1,0.2-3.6c-0.2-0.6-0.6-0.8-1.2-0.8c-0.7,0-1.2,0.2-1.5,0.7c-0.3,0.5-0.6,1.7-0.9,3.7
        L82.3,21.6z M84.9,26.5c-1.9,1.3-3.1,2.3-3.6,3.2c-0.4,0.9-0.8,2.1-1,3.7c-0.3,1.8-0.4,3-0.2,3.6c0.2,0.5,0.6,0.8,1.3,0.8
        c0.7,0,1.2-0.2,1.4-0.6c0.3-0.4,0.6-1.5,0.9-3.3L84.9,26.5z"/>
      <path d="M124.3,21.2h-10.2l0.7-4.1c0.2-1.4,0.3-2.4,0.1-2.9c-0.1-0.5-0.5-0.8-1.2-0.8c-0.6,0-1.1,0.2-1.4,0.7
        c-0.3,0.4-0.6,1.4-0.8,3l-2.8,16.8c-0.2,1.3-0.2,2.2,0,2.9c0.2,0.6,0.6,1,1.3,1c0.7,0,1.3-0.3,1.7-1c0.4-0.7,0.7-1.9,1-3.8l0.7-4.2
        h9.6c-0.5,2.8-1,5-1.4,6.4c-0.4,1.4-1.3,2.9-2.5,4.4c-1.3,1.5-2.8,2.6-4.5,3.4c-1.8,0.8-3.8,1.1-6.2,1.1c-3.1,0-5.4-0.5-7-1.6
        c-1.6-1-2.6-2.5-3-4.4c-0.4-1.9-0.3-4.6,0.2-8l1.7-10.1c0.5-3,1.2-5.3,2.1-6.8c0.9-1.5,2.4-2.9,4.6-4.1c2.2-1.2,4.7-1.8,7.5-1.8
        c2.8,0,5.1,0.6,6.9,1.8c1.8,1.2,2.9,2.7,3.2,4.5C124.9,15.3,124.8,17.9,124.3,21.2z"/>
      <path d="M152.6,0l-7.3,32.7H137L140.7,0H152.6z M145.9,34.7l-1.5,8.7h-10.1l1.5-8.7H145.9z"/>
    </g>
  </svg>
</template>