<template>
  <div class="mainCanvas">
    <div class="fullFrame">
      <div class="bg" @click="routeTo('/')" v-on:mouseover="hover(null)"></div>
      <div class="canvas">
        <div class="area a7">
          <div class="object a7_1 ground"><img src="/img/home/7-1.png"></div>
          <div class="object a7_2" @click="sentId('a7_2')" v-on:mouseover="hover('a7_2')"><img src="/img/home/7-2.png"></div>
          <div class="object a7_3" @click="sentId('a7_3')" v-on:mouseover="hover('a7_3')"><img src="/img/home/7-3.png"></div>
          <div class="treeGroup2 a7_4">
            <div class="object t3" @click="sentId('a7_4_t3')" v-on:mouseover="hover('a7_4_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a7_4_t2')" v-on:mouseover="hover('a7_4_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a7_4_t2')" v-on:mouseover="hover('a7_4_t2')"><img src="/img/home/t-1.png"></div>
          </div>
          <div class="treeGroup2 a7_5">
            <div class="object t3" @click="sentId('a7_5_t3')" v-on:mouseover="hover('a7_5_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a7_5_t2')" v-on:mouseover="hover('a7_5_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a7_5_t1')" v-on:mouseover="hover('a7_5_t1')"><img src="/img/home/t-1.png"></div>
          </div>
        </div>
        <div class="area a6">
          <div class="object a6_1 ground"><img src="/img/home/6-1.png"></div>
          <div class="object a6_2" @click="sentId('a6_2')" v-on:mouseover="hover('a6_2')"><img src="/img/home/6-3.png"></div>
        </div>
        <div class="area a1">
          <div class="object a1_1 ground"><img src="/img/home/1-1.png"></div>
          <div class="object a1_2" @click="sentId('a1_2')" v-on:mouseover="hover('a1_2')"><img src="/img/home/1-2.png"></div>
          <div class="object a1_3" @click="sentId('a1_3')" v-on:mouseover="hover('a1_3')"><img src="/img/home/1-3.png"></div>
          <div class="treeGroup a1_4">
            <div class="object t3" @click="sentId('a1_4_t3')" v-on:mouseover="hover('a1_4_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a1_4_t2')" v-on:mouseover="hover('a1_4_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a1_4_t1')" v-on:mouseover="hover('a1_4_t1')"><img src="/img/home/t-1.png"></div>
          </div>
        </div>
        <div class="object pc" @click="routeTo('system')" v-on:mouseover="title='System'"><img src="/img/home/pc-1.png"></div>
        <div class="object laptop" @click="routeTo('website')" v-on:mouseover="title='Website'"><img src="/img/home/l-1.png"></div>
        <div class="area a3">
          <div class="object a3_1 ground"><img src="/img/home/3-1.png"></div>
          <div class="treeGroup a3_2">
            <div class="object t3" @click="sentId('a3_2_t3')" v-on:mouseover="hover('a3_2_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a3_2_t2')" v-on:mouseover="hover('a3_2_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a3_2_t1')" v-on:mouseover="hover('a3_2_t1')"><img src="/img/home/t-1.png"></div>
          </div>
        </div>
        <div class="area p">
          <div class="object p_1" @click="routeTo('app')" v-on:mouseover="title='App'"><img src="/img/home/p-1.png"></div>
          <div class="object p_2" @click="sentId('p_2')" v-on:mouseover="hover('p_2')"><img src="/img/home/p-2.png"></div>
          <div class="object p_3" @click="sentId('p_3')" v-on:mouseover="hover('p_3')"><img src="/img/home/p-3.png"></div>
        </div>
        <div class="area a4">
          <div class="object a4_1 ground"><img src="/img/home/4-1.png"></div>
          <div class="treeGroup a4_2">
            <div class="object t3" @click="sentId('a4_2_t3')" v-on:mouseover="hover('a4_2_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a4_2_t2')" v-on:mouseover="hover('a4_2_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a4_2_t1')" v-on:mouseover="hover('a4_2_t1')"><img src="/img/home/t-1.png"></div>
          </div>
          <div class="object a4_3" @click="sentId('a4_3')" v-on:mouseover="hover('a4_3')"><img src="/img/home/4-2.png"></div>
        </div>
        <div class="area a5">
          <div class="object a5_1 ground"><img src="/img/home/5-1.png"></div>
          <div class="object a5_2" @click="sentId('a5_2')" v-on:mouseover="hover('a5_2')"><img src="/img/home/5-2.png"></div>
        </div>
        <div class="object trem" @click="sentId('trem')" v-on:mouseover="hover('trem')"><img src="/img/home/trem.png"></div>
        <div class="area a2">
          <div class="object a2_1 ground"><img src="/img/home/2-1.png"></div>
          <div class="treeGroup a2_2">
            <div class="object t3" @click="sentId('a2_2_t3')" v-on:mouseover="hover('a2_2_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a2_2_t2')" v-on:mouseover="hover('a2_2_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a2_2_t1')" v-on:mouseover="hover('a2_2_t1')"><img src="/img/home/t-1.png"></div>
          </div>
          <div class="treeGroup a2_3">
            <div class="object t3" @click="sentId('a2_3_t3')" v-on:mouseover="hover('a2_3_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a2_3_t2')" v-on:mouseover="hover('a2_3_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a2_3_t1')" v-on:mouseover="hover('a2_3_t1')"><img src="/img/home/t-1.png"></div>
          </div>
          <div class="treeGroup a2_4">
            <div class="object t3" @click="sentId('a2_4_t3')" v-on:mouseover="hover('a2_4_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a2_4_t2')" v-on:mouseover="hover('a2_4_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a2_4_t1')" v-on:mouseover="hover('a2_4_t1')"><img src="/img/home/t-1.png"></div>
          </div>
          <div class="treeGroup a2_5">
            <div class="object t3" @click="sentId('a2_5_t3')" v-on:mouseover="hover('a2_5_t3')"><img src="/img/home/t-3.png"></div>
            <div class="object t2" @click="sentId('a2_5_t2')" v-on:mouseover="hover('a2_5_t2')"><img src="/img/home/t-2.png"></div>
            <div class="object t1" @click="sentId('a2_5_t1')" v-on:mouseover="hover('a2_5_t1')"><img src="/img/home/t-1.png"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="descriptionBar">
      <p>{{title}}</p>
    </div>
  </div>
</template>

<script>
import itemRef from '~/store/itemsRef'
export default {
  components: {
  },
  props:{
    sponser:{
      default:[]
    }
  },
  data(){
    return{
      title:'',
    }
  },
  mounted(){
  },
  methods:{
    sentId(id){
      this.$emit('select',id);
    },
    routeTo(page){
      this.$router.push(page);
    },
    hover(id){
      if(id){
        let sponser = this.sponser.find(s=>s.id==id)||{};
        for(let group of itemRef){
          if(group.items.find(items_id=>items_id==id)){
            this.title = group.title + (sponser.name?' - '+sponser.name:'');
            return false;
          }        
        }
      }
      this.title = '';
    }
  }
}
</script>