<template>
  <header v-bind:class="isPayment?'payment':''">
    <div v-if="isActive" class="bg" @click="isActive=false"></div>
    <div>
      <div class="logoFlex">
        <div><router-link to="/"><logo></logo></router-link></div>
        <!-- <div><span><a href="#">EN</a></span><span>/</span><span><a href="#">中文</a></span></div> -->
      </div>
      <div v-bind:class="'MenuBlock '+(isActive?'active':'')">
        <ul @click="isActive=false">
          <li><router-link to="/about">關於我</router-link></li>
          <li><router-link to="/website">網站</router-link></li>
          <li><router-link to="/system">系統</router-link></li>
          <li><router-link to="/app">APP</router-link></li>
          <li><a href="https://gitlab.com/Kaoruisaac" target="_blank"><i class="icon-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/isaac-lin-05576b9a/" target="_blank"><i class="icon-linkedin"></i></a></li>
          <li><a href="mailto:kaoruisaac@gmail.com" target="_blank"><i class="icon-mail"></i></a></li>
        </ul>
      </div>
      <nav v-bind:class="isActive?'active':''" @click="toggleMenu()">
        <b></b>
        <b></b>
        <b></b>
      </nav>
    </div>
  </header>
</template>
<script type="text/javascript">
import logo from './logo'
export default {
  components: {
    logo,
  },
  data(){
    return{
      isPayment:false,
      isActive:false,
    }
  },
  mounted(){
    this.PageDetect()
  },
  methods:{
    PageDetect(){
      if(this.$route.path.match('payment')){
        this.isPayment = true;   
      }else{
        this.isPayment = false;
      }
    },
    toggleMenu(){
      this.isActive = !this.isActive;
    }
  },
  watch:{
    "$route.path":function(){
      this.PageDetect();
    }
  }
}

</script>