<template>
  <div class="payment">
    <article>
      <form>
        <div class="inputGroup">
          <input type="text" name="" v-model="name">
          <label>你的名字 ( 限20字 )</label>
        </div>
        <div class="inputGroup">
          <input type="text" name="" v-model="url">
          <label>推廣網址</label>
        </div>
        <div class="totalBlock">
          <div>
            <h2>應付金額</h2>
            <span>${{info.price}} TWD</span>
          </div>
          <span class="btn large" @click="submit()">下一步</span>
        </div>
      </form>
    </article>
    <div v-bind:class="'loadingCover '+(loading?'active':'')"></div>
  </div>
</template>
<script type="text/javascript">
import itemRef from '~/store/itemsRef'
export default {
  components: {
  },
  data(){
    return{
      info:{},
      name:'',
      url:'',
      loading:false,
    }
  },
  mounted(){
    if(this.$route.params.id){
      for(let group of itemRef){
        if(group.items.find(id=>this.$route.params.id==id)){
          this.info = group;
          return false;
        }        
      }
    }
  },
  methods:{
    submit(){
      this.loading = true;
      if(this.name==''){
        alert('your name can not be empty !');
      }
      this.$axios.post('http://isaac.taipei/paypal/',{name:this.name,url:this.url,id:this.$route.params.id}).then(res=>{
        if(res.data.code==1000){
          window.location.href = res.data.data;
        }else{
          alert(res.data.msg);
          this.loading = false;
        }
      }).catch(()=>{
        alert("Server Error!");
        this.loading = false;
      })
    }
  }
}

</script>