<template>
  <div class="sideInfo">
    <article>
      <div>
        <div class="portrait">
          <img v-bind:src="info.img">
        </div>
        <div class="content">
          <h1>{{info.title}} {{(sponserInfo.name?' - '+sponserInfo.name:'')}}</h1>
          <p v-html="info.description"></p>
        </div>
        <div class="promo" v-if="sponserInfo.url">
          <h3>{{sponserInfo.name}} 買下了此物件，快點去他們的網站看看吧!</h3>
          <p><a :href="sponserInfo.url" target="_blank"><i class="icon-link"></i> {{sponserInfo.url}}</a></p>
        </div>
        <div class="bottom" v-if="!sponserInfo.name">
          <div class="btnBlock">
            <span class="btn large" @click="routeTo(id)">贊助 $ {{info.price}} TWD </span>
          </div>
          <p>
            對，你沒看錯，這明明是個人作品集網站 <br>
            但ISAAC非常的厚顏無恥的讓你可以透過小額的贊助 <br>
            讓這些物件掛上你的大名。
          </p>
        </div>
      </div>
    </article>
  </div>
</template>
<script type="text/javascript">
import itemRef from '~/store/itemsRef'
export default {
  components: {
  },
  props:{
    sponser:{
      default:[]
    }
  },
  data(){
    return{
      info:{},
      sponserInfo:{},
      id:'',
    }
  },
  mounted(){
    if(this.$route.params.id){
      for(let group of itemRef){
        let itemId = group.items.find(id=>this.$route.params.id==id); 
        if(itemId){
          this.info = group;
          this.id = itemId;
          return false;
        }        
      }
    }
  },
  methods:{
    routeTo(id){
      this.$router.push('/payment/'+id);
    }
  },
  watch:{
    sponser:function(){
      if(this.$route.params.id){
        this.sponserInfo = this.sponser.find(s=>s.id==this.$route.params.id)||{};
      }
    }
  }
}

</script>