<template>
  <div id="app">
    <div v-bind:class="'wrapper '+themeRef[themeIndex]">
      <menu-header></menu-header>
      <div class="main">
        <nuxt />
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
import menuHeader from '~/components/menuHeader'
  export default {
    components:{
      menuHeader,
    },
    data(){
      return {
        themeRef:['white','dark'],
        themeIndex:0,
      }
    },
    mounted(){
      this.ThemeDetect();
    },
    methods:{
      ThemeDetect(){
        if(this.$route.path.match('website')||this.$route.path.match('system')||this.$route.path.match('app')){
          this.themeIndex=1;
        }else{
          this.themeIndex=0;
        }
      }
    },
    watch:{
      "$route.path":function(){
        this.ThemeDetect();
      }
    }
  }
</script>