<template>
  <div class="messagePage">
    <div>
      <div class="content">
        <h1>購買失敗!請重新嘗試</h1>
        <p>過程當中出錯了 QQ</p>
      </div>
      <div class="btnBlock">
        <router-link to="/" class="btn large">回首頁</router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
  },
  data(){
    return{
    }
  },
  mounted(){
  },
  methods:{
  },
}
</script>