<template>
  <div class="messagePage">
    <div>
      <div class="content">
        <h1>恭喜你已成功購買!</h1>
        <p>回首頁查看你所購買的物件</p>
      </div>
      <div class="btnBlock">
        <router-link to="/" class="btn large">回首頁</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data(){
    return{
    }
  },
  mounted(){
  },
  methods:{
  },
}
</script>