<template>
  <div class="websitePage subPage">
    <div class="grid">
      <div></div>
      <div>
        <div class="container">
          <div class="catGrid">
            <article v-for="item of systemRef"
                     v-bind:style="'background-image:url('+item.img+')'"
                     v-bind:class="item.isBig?'large':''"
                     @click="routeTo(item.id)"></article>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div v-bind:class="'float '+(isOpen?'active':'')">
      <div class="bg" @click="close()"></div>
      <div class="side">
        <article>
          <div>
            <h2>{{info.title}}</h2>
            <p v-if="info.url"><i class="icon-link"></i><a v-bind:href="info.url" target="_blank">{{info.url}}</a></p>
            <p v-if="info.git"><i class="icon-github"></i><a v-bind:href="info.git" target="_blank">{{info.git}}</a></p>
            <div class="content">
              <p v-if="info.year">{{info.year}}</p>
              <p v-if="info.des">{{info.des}}</p>
              <p style="margin-top: 20px"><span v-for="(t,i) of info.tags" v-bind:class="'tag gray-'+((i%5)+1)">{{t}}</span></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import systemRef from '~/store/systemRef'

export default {
  components: {
  },
  data(){
    return{
      systemRef,
      isOpen:false,
      info:{},
    }
  },
  mounted(){
    if(this.$route.params.id){
      setTimeout(()=>{this.isOpen=true},0);
      this.FindDetail(this.$route.params.id);
    }
  },
  methods:{
    routeTo(id){
      this.$router.push('/system/'+id);
    },
    close(){
      this.isOpen=false;
      setTimeout(()=>{
        this.$router.push('/system/');
      },500);
    },
    FindDetail(id){
      this.info = this.systemRef.find(item=>this.$route.params.id==item.id);
    }
  },
}
</script>