<template>
  <div v-bind:class="'homePage '+(pageChanging?'change':'')">
    <div v-bind:class="'grid '+pageRef[pageIndex]">
      <main-canvas v-on:select="toggleSide" :sponser.sync="sponser"></main-canvas>
      <side-info :sponser.sync="sponser"></side-info>
      <payment></payment>
    </div>
  </div>
</template>

<script>
import mainCanvas from '~/components/mainCanvas';
import sideInfo from '~/components/sideInfo';
import payment from '~/components/payment';
export default {
  components: {
    mainCanvas,
    sideInfo,
    payment,
  },
  data(){
    return{
      pageRef:['','sideOpen','paymentOpen'],
      pageIndex:0,
      pageChanging:false,
      sponser:[],
    }
  },
  created(){
      this.pageIndex = parseInt(localStorage.getItem('prev')||0);
  },
  mounted(){
    this.getSponser();
    this.changePage();
    if(this.$route.path.match('item')){
      setTimeout(()=>{
        this.pageIndex=1;
        localStorage.setItem('prev',1)
      },0)
    }else if(this.$route.path.match('payment')){
      setTimeout(()=>{
        this.pageIndex=2;
        localStorage.setItem('prev',2)
      },0)
    }else{
      setTimeout(()=>{
        this.pageIndex=0;
        localStorage.setItem('prev',0)
      },0)
    }
  },
  methods:{
    getSponser(){
      this.$axios.get('http://isaac.taipei/sponser/').then(res=>{
        if(res.data.code==1000){
          this.sponser = res.data.data||[]; 
        }else{
          alert(res.data.msg)
        }
      })
    },
    toggleSide(id){
      this.$router.push('/item/'+id);
    },
    changePage(){
      this.pageChanging = true;
      setTimeout(()=>{
        this.pageChanging=false;
      },900);
    }
  },
}
</script>